:root {
  font-family: var(--fujin-font-family-base);
  font-size: 13px;
  line-height: 1.5;
  color-scheme: dark;
  color: var(--fujin-text-primary);
  background-color: var(--fujin-bg-base);
}

body {
  margin: 0;
  min-width: 300px;
}
