:root {
  font-family: Verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color-scheme: dark;
  color: #ffffff;
  background-color: #21333e;
}

body {
  margin: 0;
  min-width: 300px;
}
